
<div class="container-xxl py-5">
  <div class="container">
      <div class="section-title text-center">
          <h1 class="display-5 mb-5">Our Services</h1>
      </div>
      <div class="row g-4">
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/a084d7d5945f47228d580a25_cut_800x500_252.png" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3">
                        Announcement of the autumnal festival and festival schedule at ABCD mall</h4>
                      <p>
                        Jubilantly celebrate the Great Festival, bustlingly welcome the Full Moon with a series of exciting fun activities at the "Mid-Autumn Festival" show Beauty</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/back-to-school-la-gi-va-lich-cua-mot-so-nuoc-thumb-1.jpg" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3">BACK TO SCHOOL: HAPPY SCHOOL SPECIAL OFFER (1/8 - 17/8/2023)</h4>
                      <p>
                        🎊 BACK TO SCHOOL: HAPPY SCHOOL SPECIAL OFFER (1/8 - 17/8/2023) ️🎊
                                                The brilliant summer has passed, the back-to-school season is approaching...</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/family.jpg" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3">HAPPY VIETNAMESE FAMILY DAY – 
                        Honoring the Vietnamese family - 28/6/2023</h4>
                      <p>Family love is the greatest gift in life. A place to share joys and sorrows, to accompany us to overcome difficulties and challenges.
                        As long as there is enough love...</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/img-5199-min.png" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3">BLUR MATTE LIPSTICK 3CE LAUNCH EVENT – STYLENANDA</h4>
                      <p>Launch event of the new matte lipstick product line BLUR MATTE LIPSTICK from famous Korean brand 3CE - STYLENANDA in association with Beauty box Vietnam...</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/hinh.jpg" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3"> A Fusion of Elegance and Innovation</h4>
                      <p>In a world where fashion transcends boundaries and redefines norms, this extraordinary event invites you to embark on a journey that marries the elegance of tradition with the boundless...</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="assets/img/aa.jpg" alt="">
                  </div>
                  <div class="p-4 text-center border border-5 border-light border-top-0">
                      <h4 class="mb-3">The Artistic Odyssey: Where Canvas and Script Converge</h4>
                      <p>Step into a realm where the strokes of a brush and the elegance of words intertwine, creating a symphony of creativity that transcends the boundaries of traditional art exhibitions...</p>
                      <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>