
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/img/hinhmall.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#" style="color: #B31E8D">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" style="color: #B31E8D">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <h1 align="center">GET INSPIRATION - CONNECT EVERY DAY</h1><br>
    <p>ABCD MALL Retail is proud to be the leading retail real estate brand in Vietnam. Together with accompanying retail partners, ABCD MALL aspires to create a new modern rhythm of life but still full of authentic emotions - a place of inspiration, a place to connect with trends, a place to mark memories, a place to overflow. full of laughter, a place full of happiness.<br><br>

        At ABCD MALL, customers' bonding moments are priceless and most cherished. Here, customers not only discover unique shopping - dining - entertainment experiences, enjoy cultural festivals, connect with trends but also receive positive energy and endless inspiration. , make life more exciting every day.<br><br>
        
        ABCD MALL, with the role of leading consumer trends, has been and continues to affirm its reputation as a professional retail real estate investor with four product lines. In every locality present, ABCD MALL is always the destination of trends and convenience.</p>
        <h5>ABCD MALL CENTER</h5>
        <h5>
            Trending icons - Trendy style</h5>
            <p>ABCD MALL Center is located in prime locations in large and densely populated cities of Vietnam such as Hanoi and Ho Chi Minh City. With famous domestic and international brands, ABCD MALL Center is the choice of discerning and classy customers.</p>
            <img src="assets/img/ghe-nghi-chan-aeon-mall-hai-phong-le-chan.jpg" width="100%" height="100%"><br>
            
            <br><h5>ABCD  MEGA MALL</h5>    
            <h5>International experience - Generation connection</h5> 
            <p>
                ABCD  Mega Mall targets mid- and high-end customers with attractive locations in large-scale complex urban areas with modern style. With hundreds of international brands, millions of products, and entertainment, food, and unique services. ABCD  Mega Mall has a mission to inspire and create a dynamic lifestyle.</p>
                <img src="assets/img/7n2a7770-1608712465411832951837.jpg" width="100%" height="100%">
                <br> <br><h5>ABCD  PLAZA</h5> 
                <h5>Fun rendezvous - Connected community</h5> 
                <p>With the goal of bringing a modern consumer culture to young cities and non-central areas of Hanoi and Ho Chi Minh City, each ABCD  Plaza is a meeting place to connect the community and is the center of shopping and experience of customers. people in their city.</p>
                <img src="assets/img/he-thong-man-hinh-lcd-quang-cao-tai-Aeon-Mall-Long-Bien-Unique-OOH-2.jpg" width="100%" height="100%" alt="">
                <!-- <br> <br><h5>ABCD +</h5>   -->
                <!-- <h5>Friendly rendezvous - Convenience every day</h5>  
                <p>ABCD + has a mission to serve people living in districts, towns and townships - where the retail market is in the development stage.</p> -->
</div>

 


