<h1>Header</h1>
<div class="flex gap-2 align-items-center">
  <button
    [routerLink]="['/cinema']"
    type="button"
    class="bg-blue-500 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-3 border-none"
  >
    Cinema
  </button>
  <button
    [routerLink]="['/contact']"
    type="button"
    class="bg-indigo-500 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-3 border-none"
  >
    Contact
  </button>
</div>

<router-outlet></router-outlet>
<h1>Footer</h1>
